
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
      }
      body {
        background-color: #f6e58d;
        height: 100vh;
      }
      .menu {
        display: flex;
        text-align: space-between;
        margin: 2%;
        margin-bottom: 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background-color: #ffbe76;
      }
      .menu a {
        text-decoration: none;
        color: black;
        flex: 1;
        font-size: 2em;
        text-align: center;
        margin: 0 2%;
      }
      .menu a:hover {
        background-color: #f0932b;
        border-radius: 10px;
        text-decoration: underline dotted;
      }
      .menu div#sobre {
        text-decoration: underline;
        background-color: #f0932b;
        border-radius: 10px;
        color: black;
        flex: 1;
        font-size: 2em;
        text-align: center;
        margin: 0 2%;
      }
      .corpo {
        display: flex;
      }
      .corpo img {
        max-width: 25%;
        max-height: 25%;
        margin: 2%;
        border: 1px solid black;
        padding: 1%;
        background-color: #ffbe76;
      }
      .txt {
        display: flex;
        align-items: center;
        background-color: #ffbe76;
        margin: 2%;
        border: 1px solid black;
        padding: 1%;
        justify-content: center;
      }
      div.complemento {
        margin: 2%;
        margin-top: 0;
        border: 1px solid black;
        padding: 1%;
        background-color: #ffbe76;
        text-align: center;
      }
      div.complemento img {
        max-width: 100%;
        margin-top: 1%;
        border: 1px solid black;
        border-radius: 20%;
      }
      footer {
        display: flex;
        align-items: center;
      }
      footer p {
        border: 1px solid black;
        margin: 0 2%;
        padding: 1%;
        background-color: #ffbe76;
        margin-bottom: 10px;
      }