
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
      }
      body {
        background-color: #f6e58d;
        height: 100%;
      }
      .menu {
        display: flex;
        text-align: space-between;
        margin: 2%;
        margin-bottom: 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background-color: #ffbe76;
      }
      .menu a {
        text-decoration: none;
        color: black;
        flex: 1;
        font-size: 2em;
        text-align: center;
        margin: 0 2%;
      }
      .menu a:hover {
        background-color: #f0932b;
        border-radius: 10px;
        text-decoration: underline dotted;
      }
      .menu div#contato {
        text-decoration: underline;
        background-color: #f0932b;
        border-radius: 10px;
        color: black;
        flex: 1;
        font-size: 2em;
        text-align: center;
        margin: 0 2%;
      }
      div.corpo {
        display: flex;
        border: 1px solid black;
        margin: 2%;
        padding: 1%;
        background-color: #ffbe76;
        justify-content: center;
      }
      textarea {
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1.3em;
      }
      input,
      select,
      button {
        height: 2em;
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.3em;
      }
      button {
        height: 10%;
        width: 100%;
        background-color: #ff7979;
        font-size: 30px;
      }
      button:hover {
        background-color: #ff5656;
      }
      footer {
        display: flex;
        align-items: center;
      }
      footer p {
        border: 1px solid black;
        margin: 0 2%;
        margin-bottom: 10px;
        padding: 1%;
        background-color: #ffbe76;
      }